.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clipOuterDiv {
  display: flex;
  width: 90%;
  height: 100%;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 30px;
}

.clip {
  width: 300px;
  height: 300px;
  margin: auto;
  padding: 10px;
  flex-grow: 1;

}

.clip img{
  width: 100%;
  flex-grow: 1;

}